body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
  }
  
  .background {
    background-image: url('photo.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    background-color: transparent;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
      
  }
  
  form {
    display: grid;
    grid-gap: 10px;
    margin-top: 20px;
  }
  
  label {
    display: block;
    color: #0056b3;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;

}

